.card {
  width: 348px;
  height: 300px;
  max-height: 500px;
}

.creator-name {
  padding-left: 15px;
}

.description {
  display: flex;
  flex-wrap: wrap;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  max-width: 100%;
  max-height: 100px;
  overflow-y: auto;

  line-height: 1.5;
  margin: 0;
  padding: 8px 0;
}
