nav {
  display: flex;
  justify-content: space-between;
}

.cards-container {
  padding: 20px 0px;
  gap: 25px;
}

.paginator {
  border-radius: 8px;
  width: 550px;
  border: 1px solid black;
  background-color: #fdfdfd;
  box-shadow: 5px 6px rgba(0, 0, 0, 0.053);
}

.paginator-continer {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  padding-bottom: 20px;
  z-index: 1000;

}

.radio-container {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  margin-left: 20px;
  padding-right: 10px;
  border-radius: 20px;

}
